<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>@ViewData["Title"]</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/offcanvas.css" />
    <link rel="stylesheet" href="~/css/Font.css" />
    <link rel="stylesheet" href="~/css/carousel.css">
    <link rel="stylesheet" href="~/css/editStyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/pricing.css" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
</head>

<body onload="ShowTime()" onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;" oncopy="return true;">
    <style>
        #overlay {
            position: fixed;
            top: 20px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.5;
            z-index: 10000;
        }

        .none {
            display: none;
        }
    </style>
    <script>
        window.onload = function () {
            $('#overlay').hide();
            ShowTime();
            //遮蔽鍵盤事件
            document.onkeydown = function () {
                var e = window.event || arguments[0];
                //F12
                if (e.keyCode == 123) {
                    return false;
                    //Ctrl+Shift+I
                } else if ((e.ctrlKey) && (e.shiftKey) && (e.keyCode == 73)) {
                    return false;
                    //Shift+F10
                } else if ((e.shiftKey) && (e.keyCode == 121)) {
                    return false;
                    //Ctrl+U
                } else if ((e.ctrlKey) && (e.keyCode == 85)) {
                    return false;
                }
            };
            //遮蔽滑鼠右鍵
            document.oncontextmenu = function () {
                return false;
            }
        }
        @{ 

            var url = edit20210325.Function.ProjectSet.GoogleUrl;
            var UserId = edit20210325.Function.ProjectSet.clientId;
         }
        var login = function() {
            var url = "https://accounts.google.com/o/oauth2/v2/auth?";
            url += "scope=email profile&";
            url += "redirect_uri=@(url)&";
            url += "response_type=code&";
            url += "client_id=@(UserId)&";
            url += "approval_prompt=force&";
            window.location.href = url;
        }

        var logout1 = function () {
            document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://toperking.ddns.net/Home/Index";
        }

        var logout = function () {
            $('#overlay').show();
            var newWindow = window.open('https://www.google.com/accounts/Logout', 'Disconnect from Google', 'toolbar=no,status=no,menubar=no,scrollbars=no,resizable=no,left=10000, top=10000, width=10, height=10, visible=none', '');
            setTimeout(function () {
                if (newWindow) newWindow.close();
                window.location = "/home/Logout";
                $('#overlay').hide();
            }, 3000);
        }
    </script>


    <div id="overlay" style="display:none;">
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
            </div>
            <p style="color:white">登出中.......</p>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg  justify-content-sm-start fixed-top navbar-dark bg-primary">
            <a style="font-size: 24px;" class="navbar-brand order-0 order-lg-0 ml-lg-0 ml-1 mr-auto" asp-controller="Home" asp-action="JudgeIndex">
                <i class="fas fa-home"></i>
                <span style="font-family: 'Zen Dots', cursive;"> excelhelperx</span>
            </a>
            <button style="font-size: 24px;" class="navbar-toggler align-self-start mt-2"
                    type="button">
                <i class="fas fa-th-list"></i>
            </button>

            <div style="width:50%;top:17px " class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end bg-primary p-3 p-lg-0 mt-5 mt-lg-0 mobileMenu onRight"
                 id="navbarSupportedContent">

                <ul class="navbar-nav align-self-stretch">
                    @if ((string)ViewData["ＰageCtrl"] == "1")
                    {
                        <li class="nav-item active">
                            <a style="color:aquamarine; font-size:18px;" class="nav-link" asp-controller="TeamInfo" asp-action="JudgeIndex">團隊介紹</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a style="color:antiquewhite;font-size:18px;" class="nav-link " asp-controller="TeamInfo" asp-action="JudgeIndex">團隊介紹</a>
                        </li>
                    }
                    @if ((string)ViewData["ＰageCtrl"] == "2")
                    {
                        <li class="nav-item active">
                            <a style="color:aquamarine;font-size:18px;" class="nav-link " asp-controller="ServiceItem" asp-action="JudgeIndex">服務項目</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a style="color:antiquewhite;font-size:18px;" class="nav-link " asp-controller="ServiceItem" asp-action="JudgeIndex">服務項目</a>
                        </li>
                    }
                    @if ((string)ViewData["ＰageCtrl"] == "3")
                    {
                        <li class="nav-item active">
                            <a style="color:aquamarine;font-size:18px;" class="nav-link " asp-controller="ChargeItems" asp-action="JudgeIndex">收費方式</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a style="color:antiquewhite;font-size:18px;" class="nav-link " asp-controller="ChargeItems" asp-action="JudgeIndex">收費方式</a>
                        </li>
                    }
                    @if ((string)ViewData["ＰageCtrl"] == "4")
                    {
                        <li class="nav-item active">
                            <a style="color:aquamarine;font-size:18px;" class="nav-link " asp-controller="ExcelTeach" asp-action="JudgeIndex">Excel教學區</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a style="color:antiquewhite;font-size:18px;" class="nav-link " asp-controller="ExcelTeach" asp-action="JudgeIndex">Excel教學區</a>
                        </li>
                    }


                    @{
                        var MemberName = Context.User.Claims.Count() == 0 ? "註冊/登入" : Context.User.Claims.FirstOrDefault(m => m.Type == System.Security.Claims.ClaimTypes.Name).Value;
                        var pictureIcon = Context.User.Claims.FirstOrDefault(m => m.Type == System.Security.Claims.ClaimTypes.Uri) == null ?  null:Context.User.Claims.FirstOrDefault(m => m.Type == System.Security.Claims.ClaimTypes.Uri);
                        var LoginState = Context.User.Claims.FirstOrDefault(m => m.Type == System.Security.Claims.ClaimTypes.Actor) ==null ? "false" : Context.User.Claims.FirstOrDefault(m => m.Type == System.Security.Claims.ClaimTypes.Actor).Value;
                        }

                    @if (!MemberName.Equals("註冊/登入") && LoginState.Equals("true"))
                    {
                <li class="nav-item dropdown active">
                    @if ((string)ViewData["ＰageCtrl"] == "5")
                    {
                        <a style="color:aquamarine;font-size:18px;" class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @if (pictureIcon != null)
                            {
                                <img src="@pictureIcon.Value" style="width:20px;border-radius: 50%;">
                            }
                            @MemberName
                        </a>
                    }
                    else
                    {
                        <a style="color:antiquewhite;font-size:18px;" class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @if (pictureIcon != null)
                            {
                                <img src="@pictureIcon.Value" style="width:20px;border-radius: 50%;">
                            }
                            @MemberName
                        </a>
                    }

                <div class="dropdown-menu">
                    <a style="font-size:14px;" class="dropdown-item " asp-action="MemberDataBase" asp-controller="MemberInfo">會員基本資料</a>
                    <a style="font-size:14px;" class="dropdown-item " asp-action="MemberProductList" asp-controller="MemberInfo">已購買商品明細</a>
                    <a style="font-size:14px;" class="dropdown-item " asp-action="MemberProgressProductList" asp-controller="MemberInfo">訂製商品狀況</a>
                    <a style="font-size:14px;" class="dropdown-item " asp-action="SaveCash" asp-controller="MemberInfo">金幣儲值</a>
                    <a style="font-size:14px;" class="dropdown-item " asp-action="Question" asp-controller="MemberInfo">常見Q&A</a>
                    <a style="font-size:14px;" class="dropdown-item " asp-action="DownLoadPage" asp-controller="MemberInfo">下載專區</a>
                    <div class="dropdown-divider"></div>
                    <a style="font-size:14px;" class="dropdown-item " onclick="logout()">登出</a>
                </div>
                </li>
                    }
                    else if (!MemberName.Equals("註冊/登入") && LoginState.Equals("false"))
                    {
                <li class="nav-item dropdown ">

                    @if ((string)ViewData["ＰageCtrl"] == "5")
                    {
                        <a style="color:aquamarine;font-size:18px;" class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @if (pictureIcon != null)
                            {
                                <img src="@pictureIcon.Value" style="width:20px;border-radius: 50%;">
                            }
                            @MemberName
                        </a>
                    }
                    else
                    {
                        <a style="color:antiquewhite;font-size:18px;" class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @if (pictureIcon != null)
                            {
                                <img src="@pictureIcon.Value" style="width:20px;border-radius: 50%;">
                            }
                            @MemberName
                        </a>
                    }

                    <div class="dropdown-menu">
                        <a style="font-size:14px;" class="dropdown-item " asp-action="MemberRegister" asp-controller="MemberInfo">註冊會員帳號</a>
                        <a style="font-size:14px;" class="dropdown-item " onclick="logout()">登出</a>
                    </div>
                </li>
                    }
                    else
                    {
                        <li class="nav-item ">
                            <a style="color:antiquewhite;font-size:18px;" class="nav-link" onclick="login()">
                                @if (pictureIcon != null)
                                {
                                    <img src="@pictureIcon.Value" style="width: 20px; border-radius: 50%; ">
                                }
                                @MemberName
                            </a>
                        </li>
                    }
                    @{
                        //@Context.User.Claims.FirstOrDefault(m => m.Type == System.Security.Claims.ClaimTypes.Name).Value
                    }


                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <!--   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                     -->
                </form>
            </div>
        </nav>
        <div class="overlay"></div>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="row">
            <div id="showtime" class="container col-sm-4 ">
            </div>
            <div class="col-sm-5">
                <p>
                    @("gmail：excelhelperx@gmail.com")<br>
                    @("官方line@：excelhelperx")
                </p>

            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/offcanvas.js" asp-append-version="true"></script>
    <script src="~/js/function.js" asp-append-version="true"></script>
    <script src="~/js/VideoFunc.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
